<!-- <div>
  <span>{{ title }} app is running!</span>
</div>
<div>
  <button (click)="changeTab(1)" >
    Tab 1
  </button>
  <button (click)="changeTab(2)">
    Tab 2
  </button>
  <button (click)="changeTab(3)">
    Tab 3
  </button>
</div>

<div [ngSwitch]="tabIndex">
  <ng-template [ngSwitchCase]="1">
    <div>
      <app-product-list></app-product-list>
      <p>tab 1</p>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="2">
    <div>
      <p>
        <app-contact-list></app-contact-list>
      </p>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="3">
    <div>
      <p>

      </p>
    </div>
  </ng-template>
</div> -->
<!-- <app-product-list></app-product-list> -->
<div>
  <span>{{ title }} app is running!</span>
</div>
<router-outlet></router-outlet>
